.vkIconStyle-f {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #0077FF;
}

.vkIconStyle-s {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FFFFFF;
}

.viberIconStyle-f {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill:#FFFFFF;
}

.viberIconStyle-s {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #7360F2;
}

.copyIconStyle {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FFFFFF;
}